.screenshot {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  max-width: 80%;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.outer {
  background: lightblue;
  padding-bottom: 2rem;
}
